<h1>Forms Site administration</h1>

<%= @admin.data %>

Allowed emails for reading: <br/>
Allowed emails for writting templates: <br>
Allowed emails for writting forms: <br>
Allowed Family Forms urls (Access-Control-Allow-Origin): <br>

Undo user action: <br>
Ofuscate information: <br>

Clean Old Entries: <br>


