<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested to log in as you in forms. You can do this through the link below.</p>

<p><%= link_to 'Log in', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Alternativelly you can copy/paste the following url:</p>

<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please let us know by replying this email, to check if it was an improper access attempt or a human mistake</p>