<h1>Editing filter</h1>

<%= render 'form' %>

.id<br>
.template_id<br>
.creator<br>
.recipients<br>
.private<br>
.created_at<br>
.updated_at<br>
And fields:<br>
<%= @fields %>

<%= link_to 'Show', @filter %> |
<%= link_to 'Back', filters_path %>
